StudentAppMvc/.vs
StudentAppMvc/StudentAppMvc/bin
StudentAppMvc/StudentAppMvc/obj
StudentAppMvc/StudentAppMvc/Properties
StudentAppMvc/StudentAppMvc/wwwroot
StudentAppMvc/.vs
StudentAppMvc/.vs
StudentAppMvc/.vs
StudentAppMvc/StudentAppMvc/bin
StudentAppMvc/StudentAppMvc/obj
StudentAppMvc/.vs
StudentAppMvc/StudentAppMvc/bin
StudentAppMvc/StudentAppMvc/obj
StudentAppMvc/StudentAppMvc/bin
StudentAppMvc/.vs/StudentAppMvc
StudentAppMvc/StudentAppMvc/obj/Debug
StudentAppMvc/StudentAppMvc/obj
