@using StudentAppMvc.Models.ViewModels
@model IEnumerable<StudentAppMvc.Models.Subject>

<br />
<table>
    <tr>
        <th>Name</th>
        <th></th>
    </tr>
    @{
        foreach (Subject subject in Model)
        {
            <tr>
                <td>@subject.Name</td>
                <td>
                    <a asp-action="Delete" asp-route-id="@subject.Id" onclick="return confirm('Are you sure to delete this subject?');">Delete</a>
                </td>
            </tr>
        }
    }
</table>


<div>
    <a asp-action="Create">Create Subject</a> | <a asp-action="Index">Get all</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
