
@{
    ViewData["Title"] = "CreateStudentWithoutModel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CreateStudentWithoutModel</h1>


<div class="row">
    <div class="col-md-4">
        <form action="Create" method="post">
            <div class="form-group">
                <label class="control-label">Name</label>
                <input name="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Description</label>
                <input name="Description" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            @Html.AntiForgeryToken()
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
