
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


@model StudentList
@{
}

<table id="students">
    <tr>
        <th>Student Name</th>
        <th>Description</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td style="vertical-align:top; width:10%">@item.Name</td>
            <td style="width:75%">@item.Description</td>
            <td style="width:15%">
                <a href="Edit?Id=@item.Id">View Details </a>
                &nbsp &nbsp &nbsp
                <a href="Delete?Id=@item.Id">Delete</a>
            </td>
        </tr>    
    }
</table>