@model StudentAppMvc.Models.ViewModels.StudentViewModel

@{
    ViewData["Title"] = "Create Student";
}

<h1>Create Student</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select asp-for="Gender" class="form-control">
                    <option value=true>Male</option>
                    <option value=false>Female</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentAccount" class="control-label"></label>
                <input asp-for="StudentAccount" class="form-control" />
                <span asp-validation-for="StudentAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedSubjects" class="control-label"></label>
                @for (int i = 0; i < Model.SelectedSubjects.Count(); i++)
                {
                    <div class="form-group">
                        <input asp-for="SelectedSubjects[i].Selected" type="checkbox" />
                        <label asp-for="SelectedSubjects[i].Name">@Model.SelectedSubjects[i].Name</label>
                        <input type="hidden" asp-for="SelectedSubjects[i].Id" />
                        <input type="hidden" asp-for="SelectedSubjects[i].Name" />
                        @Html.DropDownListFor(m => m.SelectedSubjects[i].TeacherId, @Model.SelectedSubjects[i].SelectTeacherList, null, new { @class = "css-class" })
                    </div>
                }
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
