@using StudentAppMvc.Models.ViewModels
@model StudentsViewModels


<h2>This page is for Ming's Student Management</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Search">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Search for Student</label>
                @{
                    <input id="searchName" name="searchName" class="form-control" data-val="true" data-val-required="Please input name to search"  value = @Model.SearchName></input>
                    <span class="text-danger field-validation-valid" data-valmsg-for="searchName" data-valmsg-replace="true"></span>
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<h4>Welcome students: </h4>
<br />
@await Html.PartialAsync("_studentListUpdate", @Model)
<br />
<div>
    <a asp-action="Create">Create Student</a> | <a asp-action="Index" asp-route-latestCount=5>Get last 5 students</a> | <a asp-action="Index">Get all students</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}