@using StudentAppMvc.Models.ViewModels
@model StudentListViewModel

<h2>This page is for Ming's Student Search</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Search">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Search for Name</label>
                <input id="searchName" name="searchName" class="form-control" value=@Model.SearchName></input>
                <label class="control-label">(add) Search for gender</label>
                <select name="searchGender" class="form-control">
                    @{
                        if (@Model.SearchGender == null)
                        {
                            <option value="" selected="selected">-</option>
                            <option value="true">Male</option>
                            <option value="false">Female</option>
                        }
                        else
                        {
                            switch (@Model.SearchGender.ToString())
                            {
                                case "true":
                                    <option value="">-</option>
                                    <option value="true" selected="selected">Male</option>
                                    <option value="false">Female</option>
                                    break;
                                case "false":
                                    <option value="">-</option>
                                    <option value="true">Male</option>
                                    <option value="false" selected="selected">Female</option>
                                    break;
                                default:
                                    <option value="" selected="selected">-</option>
                                    <option value="true">Male</option>
                                    <option value="false">Female</option>
                                    break;
                            }
                        }
                    }
                </select>
                <label class="control-label">(add) Search for BOD from</label>
                <input type="date" id="searchFromDate" name="searchFromDate" class="form-control" value=@Model.SearchDOB></input>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
@await Html.PartialAsync("_studentList", @Model)
<br />
<div>
    <a asp-action="Index">Back to management</a>
</div>
@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}